button{
    margin-top: 10px;
}
.first-name1{
    margin:40px 0 0 0;
}
.first-name{
    margin:5px 0 0 0;
}
#main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
#navlist{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
#dropdown ,#harmbarger{
    width: 50px;
    height: 50px;
}
body{
    margin: 0;
    color: blue;
    font-family: "Inter", sans-serif;
}
#nav{
    display: none;
    background-color: blue;
    width: 150px;
    height: 100px;
    line-height: 33px;
    border-radius: 5px;
}
#harmburger-icon{
    width: 20%;
    height: 30px;
}
a{
    text-decoration: none;
    color: rgb(11, 0, 0);
    padding: 0 10px;
}
#icon-menu{
    display: block;
    justify-content: end;
}
#nav:hover{
    background-color: white;   
}
#list-items a:hover{
    color: blue;
}
#list-items:hover{
    background-color: rgb(196, 192, 192);
    border-radius: 5px;
}
#harmbarger{
    display: flex;
    align-content: center;
    align-items: center;
   justify-content: end;
   width: 150px;
}
#icon-menu:hover #nav{
    display: block;
}/*
ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    font-size: medium;
}
ul li{
    width: 50%;
    line-height: 40px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
div button a{
    color: black;
}*/
.first-name1{
    margin-top: 0;
}
@media (min-width:425px) {
    #email, #password{
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
    #email-input{
        height: fit-content;
        bottom: 0;
        
    }
    #email{
        margin-top: 5px;
        height: fit-content;
    }
    .first-name1,.first-name{
        margin: 0 10px 0 0;
    }
    button{
        margin: 0;
    }
    #main-div{
        padding: 10%;
    }
}
@media (min-width:768px){
    #main-div{
        padding: 5%;
        display: grid;
        place-items: center;
    }
}
